extends ../layouts/common.pug

block content
  h1 
    span.mr-3 Transactions
    a.btn.btn-primary(href="/transactions/create") New

  table.table
    tr
      td Transaction ID
      td Actions
    each transaction in transactions
      tr
        td= transaction.id
        td
          a.btn.btn-light(href='/transactions/' + transaction.id) View
          a.btn.btn-light(href='/transactions/' + transaction.id + '/delete') Delete
          if transaction.isComplete
            label.text-success &radic;
          else
            a.btn.btn-light(href='/transactions/' + transaction.id + '/complete') Hoàn thành